---

import '../styles/global.css';
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = '我的 Astro 学习博客'

const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}))
---

<BaseLayout pageTitle={pageTitle} >
    <p>这是我的 Astro 学习笔记</p>
    <ul>
        {
            allPosts.map((post) => (
                    //@ts-expect-error
                <BlogPost url={post.url} title={post.frontmatter.title}></BlogPost>
            ))
        }
    </ul>
</BaseLayout>